.Cart {
  border: 25px solid rgb(11, 11, 11, 0.6);
  margin: 0 auto;
  max-width: 75%;
  padding-top: 2rem;
  text-align: center;
  color: aliceblue;
  font-weight: bold;
  background: rgb(11, 11, 11, 0.6);
}

.Cart-total-cost {
  font-weight: 900;
  padding: 2rem;
}
