.HomeBackground {
  margin-top: 15px;
  height: 710px;
}

.HomeText {
  margin-top: 85px;
  font-size: 80px;
  text-align: center;
  opacity: 0.7;
}
a {
  text-decoration: none;
  color: white;
  font-family: Bebas Neue, cursive;
}

a:hover {
  font-size: 95px;
  text-decoration: none;
  color: blanchedalmond;
  font-family: Bebas Neue, cursive;
}
