@media (max-width: 480px) {
  .HomeBackground {
    height: 100%;
    box-sizing: border-box;
  }

  .HomeText {
    position: relative;
    top: 22%;
    opacity: 0.8;
    text-align: center;
    box-sizing: border-box;
  }

  #HomeAnchorTags {
    text-decoration: none;
    color: white;
    font-size: 15vw;
    font-family: Bebas Neue, cursive;
  }

  #HomeAnchorTags:hover {
    font-size: 6vw;
    text-decoration: none;
    color: blanchedalmond;
    font-family: Bebas Neue, cursive;
  }

  img {
    width: 50%;
    display: block;
    padding-top: 10%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.75;
  }
}

@media (min-width: 1400px) {
  .HomeBackground {
    height: 90%;
    box-sizing: border-box;
  }

  .HomeText {
    position: relative;
    top: 35%;
    opacity: 0.8;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
  }

  #HomeAnchorTags {
    text-decoration: none;
    color: white;
    font-size: 5vw;
    font-family: Bebas Neue, cursive;
  }

  #HomeAnchorTags:hover {
    font-size: 6vw;
    text-decoration: none;
    color: blanchedalmond;
    font-family: Bebas Neue, cursive;
  }

  img {
    width: 10%;
    margin-left: 85%;
    margin-top: 2%;
    opacity: 0.75;
  }
}
