.HomeBackground {
  height: 210px;
}

.HomeText {
  /* margin-top: 90%; */
  opacity: 0.8;
  display: flex;
  justify-content: space-evenly;
}
#HomeAnchorTags {
  text-decoration: none;
  color: white;
  font-size: 5vw;
  font-family: Bebas Neue, cursive;
}

#HomeAnchorTags:hover {
  font-size: 6vw;
  text-decoration: none;
  color: blanchedalmond;
  font-family: Bebas Neue, cursive;
}
