.Print {
  /* background: rgb(11, 11, 11, 0.6); */
  /* border: 25px double rgb(11, 11, 11, 0.6); */
  border: 15px solid rgb(11, 11, 11, 0.6);
  max-width: 80%;

  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}
.cartMainScreen {
  padding-top: 100px;
  padding-bottom: 100px;
}

.Print-products {
  margin: 3rem auto 3.5rem;
  margin-top: 40px;
  max-width: 900px;
  text-align: center;
  border: 25px solid rgb(11, 11, 11, 0.6);
  background: rgb(11, 11, 11, 0.6);
}
.cartDropDownContainer {
  margin-left: 75%;
  margin-top: 20px;
  height: 70px;
  border: 10px solid rgb(11, 11, 11, 0.8);
}
#cartHeaderText {
  font-size: 4.5vw;
  margin-left: 15px;
  font-family: Bebas Neue, cursive;
  opacity: 0.85;
  color: aliceblue;
}
.cartHeaderMenuWrapper {
  display: inline-flex;
  width: 100%;
}
