.Product {
  border: 0.5px solid aliceblue;
  margin: 1rem 0;
  padding: 1rem;
  align-items: center;
  background: rgb(11, 11, 11, 0.9);
  margin-top: 40px;
}

.Product-title {
  font-size: 20px;
  font-weight: 500;
  font-family: Bebas Neue, cursive;
  color: aliceblue;
}

.Product-price {
  margin-bottom: 1rem;
  font-weight: 500;
  color: aliceblue;
}

.Product-buy-button {
  display: inline-block;
  margin: 0 0 1rem 0;
  padding: 0.85em 1em;
  border: 0;
  outline: 0;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  background-color: #529baf;
  color: #fff;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  -webkit-appearance: none;
}

.Product-buy-button:hover,
.Product-buy-button:focus {
  background-color: #47b8d7;
}
