.NavbarMainContainer {
  background-color: black;
  margin-top: 15px;
  width: 82%;
  height: 95px;
  border-radius: 8px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  text-align: center;
}
